@model DayOfficev2.Models.tblAmenidadEspacio

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Amenidad</h2>

<h3>Deseas eliminar esta amenidad?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Amenidad:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAmenidades.TipoAmenidad)
        </dd>

        <dt>
            Espacio:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEspacio.NombreEspacio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
