@model DayOfficev2.Models.tblAmenidadEspacio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblAmenidadEspacio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Amenidad:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAmenidades.TipoAmenidad)
        </dd>

        <dt>
            Espacio:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEspacio.NombreEspacio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdAmenidadEspcio }) |
    @Html.ActionLink("Regresar", "Index")
</p>
